<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamrobots.connectfour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayerSelection.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerSelection.GameMenuActivity"
            android:label="@string/title_player_mode" />
        <activity
            android:name=".GamePlay.GameActivity"
            android:exported="true" />
        <activity
            android:name=".PlayerSelection.PlayerSelectionActivity"
            android:label="@string/title_activity_player_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Online.OnlineActivity" />
        <activity android:name=".TopScoresActivity"></activity>
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayerSelection.PlayerListActivity"></activity>
    </application>

</manifest>